footer {
  max-width: 1080px;
  background-color: white;

  .footerContainer {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .infoBox {
      display: grid;
      grid-template-columns: 1fr 1fr;

      p {
        font-size: 0.875rem;
        color: #524641;
      }
      .address {
        h6 {
          font-size: 1rem;
          color: #d97852;
        }
      }
    }
    .socialMedia {
      .icons {
        width: 5%;
        margin: 10px;
        filter: grayscale(100%);
      }
      .icons:hover {
        filter: brightness(90%);
        transition: 0.5s ease;
        cursor: pointer;
      }
    }
  }
}
