@import "../../components/globalStyling/Font.module.scss";
@import "../../components/globalStyling/Button.module.scss";

section {
  max-width: 1080px;
  background-color: white;
  div {
    max-width: 1000px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  label{
    display: flex;
    flex-direction: column;
    float: left;
  }
}
