@import '../../components/globalStyling/Font.module.scss';
@import '../../components/globalStyling/Button.module.scss';

.contactPage {
  background-color: white;
  max-width: 1080px;
  height: 1000px;
  .formContainer {
    max-width: 1000px;
    .formStyle {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      max-width: 1000px;
      
      label{
        display: flex;
        flex-direction: column;
        float: left;
      }

      
    }
  }
}
