@import "../globalStyling/Font.module.scss";

nav {
  max-width: 1080px;
  background-color: white;
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    max-width: 1000px;
    border-bottom: black solid 2px;
  
    .navbar {
      .navLinks {
        color: #524641;
        margin-left: 40px;
        text-decoration: none;
        text-transform: uppercase;
      }
      .navLinks:hover {
        color: #d97852;
      }
    }
  }
}
